*{
  margin: 0;
  padding: 0;
}
html,body,#root{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root{
  height: full;
  background-color: rgb(49, 137, 137);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: large;
}
.nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 1rem 2rem;
  margin-left: 2rem;
}
.nav ul li{
  padding: 2px 8px;
}
.nav ul li:hover{
  background-color: rgb(6, 114, 208);
  border-radius: 5px;
}
.nav ul li:nth-child(1){
  background-color: rgb(6, 114, 208);
  border-radius: 5px;
}
.note-create-btn{
  font-size: smaller;
  border: none;
  padding: 4px 8px;
  margin-right: 5rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  box-shadow: 0px 0px 5px black;
}
.note-create-btn:hover{
  scale: 1.02;
}

.note-create-from{
  height: 45%;
  width: 25%;
  background-color: rgb(33, 31, 30);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  border-radius: 20px;
}
.note-create-from h2{
  color: rgb(255, 255, 255);
  text-align: center;
}
.note-create-from h4{
  margin-bottom: -0.5rem;
}
.note-create-from input, textarea{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
}
.note-create-from textarea{
  height: 40%;
}
.note-create-from .btn{
  width: fit-content;
  font-size: 1rem;
  border-radius: 10px;
  margin: auto;
  padding: 0.5rem 3rem;
  border: none;
  cursor: pointer;
  background-color: rgb(9, 58, 58);
  color: white;
}
.note-create-from .btn:hover{
  box-shadow: 0px 0px 5px black;
}
.addpopup, .editpopup{
  background-color: rgba(21, 21, 21, 0.81);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.notes{
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  background-color: rgb(19, 19, 18);
  border-radius: 5rem 5rem 0 0;
  overflow-y: auto;
  position: relative;
}
.note{
  position: relative;
  background-color: rgb(71, 109, 57);
  border: 1px solid white;
  height: 230px;
  border-radius: 1rem;
  overflow: hidden;
}
.note:hover{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.33);
  scale: 1.05;
  cursor: help;
}
.note h1{
  padding-left: 0.8rem;
}
.info{
  position: absolute;
  bottom: 0;
  background-color: darkorchid;
  min-height: 70%;
  width: 94%;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}
.btns{
  display: flex;
  gap: 5px;
  justify-content: end;
}
.deletebtn, .likebtn, .editbtn{
  background-color: rgb(0, 0, 0);
  border-radius: 45%;
  cursor: pointer;
  width: fit-content;
  padding: 8px;
  line-height: 1;
}
.deletebtn:hover, .likebtn:hover{
  color: red;
}
.editbtn:hover{
  color: aqua;
}