*{
  margin: 0;
  padding: 0;
}
html,body,#root{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root{
  height: 100vh;
  background-color: rgb(9, 9, 9);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.nav{
  width: 100vw;
  display: flex;
  background-color: darkslategray;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: large;
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 2; */
}
.nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 1rem 2rem;
}
.nav ul li{
  padding: 2px 8px;
}
.nav ul li:hover{
  background-color: rgb(6, 208, 208);
  border-radius: 5px;
}
.note-create-btn{
  font-size: smaller;
  border: 1px solid black;
  padding: 4px 8px;
  margin-right: 2rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(74, 127, 127);
}
.note-create-btn:active{
  box-shadow: 0px 0px 5px black;
  scale: 1.02;
}

.note-create-from{
  height: 40%;
  width: 25%;
  background-color: rgb(33, 31, 30);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  margin-bottom: 10rem;
  border: 1px solid white;
  border-radius: 20px;
}
.note-create-from input, textarea{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
}
.note-create-from textarea{
  height: 40%;
}
.note-create-from .btn{
  width: fit-content;
  font-size: 1rem;
  border-radius: 10px;
  margin: auto;
  padding: 0.5rem 2rem;
}
.addpopup, .editpopup{
  background-color: rgba(21, 21, 21, 0.81);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.notes{
  height: calc(100% - 100px);
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.note{
  position: relative;
  background-color: rgb(71, 109, 57);
  min-width: 15%;
  max-height: 180px;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
  /* text-align: center; */
}
.note h1{
  padding-left: 0.8rem;
}
.info{
  position: absolute;
  bottom: 0;
  background-color: darkorchid;
  min-height: 70%;
  width: 94%;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btns{
  display: flex;
  gap: 5px;
  justify-content: end;
}
.deletebtn, .likebtn, .editbtn{
  background-color: rgb(0, 0, 0);
  border-radius: 45%;
  cursor: pointer;
  width: fit-content;
  padding: 8px;
  line-height: 1;
}